/*基本颜色*/
$base-puple = #673ab7;
$base-gray = #f9f9f9;
$base-white = #fff;

$z-index-level-3 = 9999;
$z-index-level-2 = 4444;
$z-index-level-1 = 2222;
$z-index-level-0 = 1111;

position(type, index = 1) {
    position: type;
    z-index: index;
}

base-trans(time = 0.3s, time-func = ease) {
    transition: all time time-func;
}
