<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>GitStars</title>
</head>
<body :style="style">
    <loading v-if="isLoading"></loading>
    <readme :owner="owner" :repo="repo" use-type="api" v-if="isReadme"></readme>
    <file-panel-file v-else></file-panel-file>
    <file-panel-pic v-if="isPic" :pic-src="picSrc"></file-panel-pic>
    <not-found v-if="isNotFound" :type="notFoundType"></not-found>
</body>
</html>
